#ignore scanner executable
al

phaseB.code-workspace

#ignore parser output
parser.output

#ignore generated .c and parser.h
scanner.c 
parser.c
parser.h 

\.vscode/*

out

\.vs/Alpha-Language-Compiler/v15/\.suo

\.vs/Alpha-Language-Compiler/v15/Browse\.VC\.db

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

\.vscode/
